*,
*:before,
*:after{
    box-sizing: border-box;
}



.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login-form{
    
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px 40px 35px 30px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    
}


.name-form{
    font-size: 26px;
    font-family: arial, serif;
    color: #5363db;
    font-weight: 600;
    margin-bottom: 30px;
    border: 1px solid rgb(214, 214, 214);
    text-align: center;
}

input[type="text"]{
    display: block;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    border: 1px solid rgb(242, 242, 242);
    box-shadow: none;
    padding: 3px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0 15px 10px;
}


.btn{
    width: 170px;
    background: rgb(91, 108, 235);
    border: 1px solid rgb(91, 108, 235);
    border-radius: 10px;
    padding: 15px 0;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transform: translateX(60px);
    transition: all 0.1s linear;
    
}

.btn:hover{
    background: #fff;
    color: rgb(91, 108, 235);
    
}

.success{
   
    width: 200px;
    background: rgb(4, 189, 4);
    padding: 15px;
    border: 2px solid rgb(2, 92, 2);
    color: #fff;
    
}

.error{
    
    width: 200px;
    background: rgb(230, 6, 6);
    padding: 15px;
    border: 2px solid rgb(92, 4, 4);
    color: #fff;
}