.wrapper{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/****** HEADER ******/
.header{
    background: #aec720;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.bar-list{
    display:flex;
}
li>a{
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.logo img{
    max-width:150px;
}
.main_nav {
    display: flex;
    align-items: center;    
}

/***** MAIN *****/
.main_content{
    display: flex;
    flex-grow: 1;
    
}

.aside{
    width: 210px;
    display: flex;
    justify-content: center;
}
.aside span{
    margin: 10px;
    font-weight: bold;
}
.left{
    background: #bb85b8;
}
.right{
    background: #48aac2;
}

/***** CONTENT *****/
.content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 420px) ;
}
.content span{
    text-align: center;
    margin: 20px;
}
h1{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

/****** BOX *****/
.box_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 5px;
    border: 2px solid #636060;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.5s ease;
}

.box:hover{
    transform: scale(1.05);
}

.box_wrap img{
    max-width: 150px;
    max-height: 100px;
    border: 10px solid burlywood;
    border-radius: 100%;

}
h6{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}
.box_content{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    background: rgb(33, 115, 136);
    text-align: center;
    border-radius: 100px;
    
}
.button a{
    text-decoration: none;
    color: white;
}


/***** Third Task *****/
.holder{
    display: flex;
    max-width: 300px;
    height: 150px;
    border: 5px solid #000000;
    flex-wrap: wrap-reverse;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
}


.item{
    flex-basis:calc(33% - 10px);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.item:nth-child(1){
    background: #ce5656;
    order: 4;
    border-top-left-radius:25px;
}
.item:nth-child(2){
    background: #82b6e0;
    order: 2;
}
.item:nth-child(3){
    background: #a465d8;
    order: 1;
}
.item:nth-child(4){
    background: #6fdd4d;
    order: 3;
}
.item:nth-child(5){
    background: #d4b83a;
    order: 5;
    border-top-right-radius:25px;
}



/***** FOOTER *****/
.footer{
    background: #32cca5;
    text-align: center;
    padding: 10px;
}



/** MENU TOGGLE **/

#menu__toggle {
	opacity: 0;
	display: none;
}

.menu__btn {
	display: flex; /* используем flex для центрирования содержимого */
	align-items: center;  /* центрируем содержимое кнопки */
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
	display: none;
	
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/**MEDIA**/

@media(max-width:767px){
    .header{
        justify-content: center;

    }
    .aside{
        display: none;
    }
    .content{
        width: auto;
    }
	#menu__toggle, 
	.menu__btn {
		display: block;
	}
	.bar-list{
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	
	.bar-list li{
	display: block;
  	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	}

	.bar-list li:hover {
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	  
	  #menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	  
	  #menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	  }
	  
	#menu__toggle:checked ~ .bar-list {
		visibility: visible;
		left: 0;
	}
	.logo-picture{ margin-left: 50px;}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	transition-duration: .25s;
	}
	.bar-list {
	transition-duration: .25s;
	}
	.bar-list li {
	transition-duration: .25s;
	}
}
