.box {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin: 0 0 30px;
    border: dashed 2px red;
    background: green;
}



.article {
    width: 600px;
}
.img1 {
    width: 200px;
    height: 115px;
    float: left;
    margin: 0 20px 20px 0;
  }
.img2 {
    width: 150px;
    height: 85px;
    float: right;
    margin:20px 0 20px 20px;
  }
p {
      text-align: justify;
}



.quadrates {
width: 500px;
height: 500px;
position: relative;
}
.pink{
    width: 200px;
    height: 200px;
    background: pink;
}
.blue {
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
}
.green {
    width: 200px;
    height: 200px;
    background: green;
    top:100px;
    left:300px;
    position: relative;
}

