#containerMessages{
    width: 99%;
    height: 500px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px; 
    overflow: auto;   
}
input{
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;    
}
button {
    width: 24.8%;
    margin-bottom: 10px;
    font-size: 30px;    
}
.caseMsg{
    width: 80%;
    min-height: 50px;    
    border-radius: 15px; 
    background: rgb(141, 207, 120);
    font-size: 30px;
    margin-bottom: 5px;       
}